@import 'core/core.styles.scss';

ul.socket-peer-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  backgroundColor: $listBgColor;

  li {
    text-align: left;
    border-bottom: 1px rgba(255,255,255,.4) solid;
    padding: 8px;

    &.active {
      background-color: $listBgColorActive;
    }

    &:hover:not(.active) {
      background-color: $listBgColorHover;
    }
  }
}