.message-composer {
  display: table;
  width: 100%;
  margin: .4em 0em;

  input {
    padding: 1em;
    font-weight: bold;
    width: 100%;
  }

  input,
  button {
    height: 3em !important;
    background-color: rgba(999,999,999,.2) !important;
  }

  .row {
    display: table-row;

    .cell {
      display: table-cell;

      button {
        width: 100% !important;
      }
    }
  }
}