ul.Menubar {
  display: inline-block;
  list-style-type: none;
  margin: 1px 0px;
  padding: 0px;
  vertical-align: middle;
}

.Menubar > li {
  display: inline-block;
  padding: 0px 8px;
  white-space: nowrap;
  overflow: hidden
}

/* Fixes flyout icons */
.Menubar i {
  color: rgba(255,255,255,.8) !important;
}