ul.Menubar {
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.Menubar > li {
  display: inline-block;
  padding: 0px 5px;
  white-space: nowrap;
  overflow: hidden
}

/* Sub-icons not showing in flyouts without this */
.Menubar i {
  color: #fff !important;
}