.Window {
  /* TODO: Change these values */
  min-width: 400px;
  min-height: 400px;

  background-color: rgba(0,0,0,.8);
  color: #fff;
  border: 1px rgb(112, 112, 112) solid;
  border-radius: 4px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  /*
   * Create a new stacking context.
   * @see https://tiffanybbrown.com/2015/09/css-stacking-contexts-wtf/index.html
   */
   transform: scale(1);
}

/**
* Active Window shading.
*
* @see https://www.cssmatic.com/box-shadow
*/
.Window.Active {
  -webkit-box-shadow: 10px 10px 34px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 34px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 34px -8px rgba(0,0,0,0.75);
}

.Window .WindowHeader .column {
  float: left;
}

.Window .WindowHeader {
  min-height: 22px;
  background-color: black;
  position: relative;
  padding: .1rem 0px;
}

.Window.Active .WindowHeader {
  background-color: rgba(0,0,0,.6);
}

/* Three dots */
.Window .WindowHeader .Dot {
  height: 12px !important;
  width: 12px !important;
  background-color: #bbb !important;
  border-radius: 50% !important;
  display: inline-block !important;
  margin: 5px 4px 0px 4px !important;

  padding: 0px !important;
  border: 0px transparent solid !important;
}

.Window.Active .WindowHeader .Dot.Red {
  background-color: #ED594A !important;
}

.Window.Active .WindowHeader .Dot.Yellow {
  background-color: #FDD800 !important;
}

.Window.Active .WindowHeader .Dot.Green {
  background-color: #5AC05A !important;
}

.Window .WindowBody {
  flex: auto;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.WindowResizableLayer {
  display: table;
}

.WindowResizableLayer .TableRow {
  display: table-row;
}

.WindowResizableLayer .TableCell {
  display: table-cell;
  border: 1px transparent solid;
}

.WindowResizableLayer .RSControl.Top {
  cursor: n-resize;
}

.WindowResizableLayer .RSControl.TopRight {
  cursor: ne-resize;
}

.WindowResizableLayer .RSControl.Right {
  cursor: e-resize;
}

.WindowResizableLayer .RSControl.BottomRight {
  cursor: se-resize;
}

.WindowResizableLayer .RSControl.Bottom {
  cursor: s-resize;
}

.WindowResizableLayer .RSControl.BottomLeft {
  cursor: sw-resize;
}

.WindowResizableLayer .RSControl.Left {
  cursor: w-resize;
}

.WindowResizableLayer .RSControl.TopLeft {
  cursor: nw-resize;
}