.zd-window {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  border: 1px rgb(112, 112, 112) solid;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: column;

  /*
   * Create a new stacking context.
   * @see https://tiffanybbrown.com/2015/09/css-stacking-contexts-wtf/index.html
   */
   transform: scale(1);
}

/**
* Active zd-window shading.
*
* @see https://www.cssmatic.com/box-shadow
*/
/* .zd-window.Active, */
.zd-window-resizable.active {
  -webkit-box-shadow: 10px 10px 34px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 34px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 34px -8px rgba(0,0,0,0.75);
}

.zd-window .zd-window-header {
  min-height: 22px;
  
  position: relative;
  padding: 2px 0px;
  margin: 0px 0px 2px 0px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#46474b+0,2f2f31+100 */
  background: #46474b; /* Old browsers */
  background: -moz-linear-gradient(top, #46474b 0%, #2f2f31 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #46474b 0%,#2f2f31 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #46474b 0%,#2f2f31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46474b', endColorstr='#2f2f31',GradientType=0 ); /* IE6-9 */

  -webkit-box-shadow: 10px 5px 6px -4px rgba(0,0,0,0.72);
  -moz-box-shadow: 10px 5px 6px -4px rgba(0,0,0,0.72);
  box-shadow: 10px 5px 6px -4px rgba(0,0,0,0.72);

  overflow: visible;
}

/*
.zd-window .zd-window-header .column {
  float: left;
}
*/

.zd-window .zd-window-header .zd-sub-toolbar {
  margin-top: 4px;
}

/* Three dots */
.zd-window .zd-window-header .zd-dot {
  height: 12px !important;
  width: 12px !important;
  background-color: #bbb !important;
  border-radius: 50% !important;
  display: inline-block !important;
  margin: 3px 4px 0px 4px !important;
  padding: 0px !important;
  border: 0px transparent solid !important;
  vertical-align: middle !important;
}  

.zd-window.active .zd-window-header {
  background-color: rgba(0,0,0,.6);
}

.zd-window.active .zd-window-header .zd-dot.red {
  background-color: #ED594A !important;
}

.zd-window.active .zd-window-header .zd-dot.yellow {
  background-color: #FDD800 !important;
}

.zd-window.active .zd-window-header .zd-dot.green {
  background-color: #5AC05A !important;
}

.zd-window .zd-window-body {
  flex: auto;
  overflow: hidden;
  text-align: center;
  position: relative;

  background-color: #1b1f22;
}