@import 'core/core.styles.scss';

.window {
  position: absolute;
  width: 0px;
  height: 0px;

  .window-painted {
    width: 100%;
    height: 100%;
    border: 1px rgb(112, 112, 112) solid;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
  
    display: flex;
    flex-direction: column;
  
    /*
     * Create a new stacking context.
     * @see https://tiffanybbrown.com/2015/09/css-stacking-contexts-wtf/index.html
     */
     transform: scale(1);
  }

  &.hide {
    display: none;
  }

  /**
  * Active window shading.
  *
  * @see https://www.cssmatic.com/box-shadow
  */
  /* .window.focus, */
  &.focus .window-resizable {
    -webkit-box-shadow: 10px 10px 34px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 34px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 34px -8px rgba(0,0,0,0.75);
  }

  .window-header {
    min-height: 30px;
  
    position: relative;
    padding: 2px 0px;
    margin: 0px;
  
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#46474b+0,2f2f31+100 */
    background: #46474b; /* Old browsers */
    background: -moz-linear-gradient(top, #46474b 0%, #2f2f31 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #46474b 0%,#2f2f31 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #46474b 0%,#2f2f31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46474b', endColorstr='#2f2f31',GradientType=0 ); /* IE6-9 */
  
    -webkit-box-shadow: 10px 5px 6px -4px rgba(0,0,0,0.72);
    -moz-box-shadow: 10px 5px 6px -4px rgba(0,0,0,0.72);
    box-shadow: 10px 5px 6px -4px rgba(0,0,0,0.72);
  
    overflow: visible;

    .dot {
      height: 12px !important;
      width: 12px !important;
      background-color: #bbb !important;
      border-radius: 50% !important;
      display: inline-block !important;
      margin: 3px 4px 0px 4px !important;
      padding: 0px !important;
      border: 0px transparent solid !important;
      vertical-align: middle !important;
    }

    .zd-sub-toolbar {
      margin-top: 4px;
    }
  }

  &.focus {
    .window-header {  
      .dot {
        &.red {
          background-color: #ED594A !important;
        }
  
        &.yellow {
          background-color: #FDD800 !important;
        }
  
        &.green {
          background-color: #5AC05A !important;
        }
      }
    }

    .window-body-background {
      filter: blur(4px);
    }
  }

  .window-body-wrapper {
    flex: auto;
    overflow: hidden;
    text-align: center;
    position: relative;

    .window-body-background {
      background-color: rgba(20,20,20,.85);
      filter: blur(10px) grayscale(100%);
    }

    .window-body {
      filter: $windowTextColor;
    }
  }
}

/* TODO: Remove except for if debugging */
/*
.window-body-cover {
  background-color: rgba(255,255,255,.4);
}
*/