
@font-face {
  font-family: "iac502cc0d3d44cbdbacc00ae3d55a7c9";
  src: url("data:font/woff2;base64,d09GMgABAAAAAAK8AAsAAAAABzQAAAJwAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcApcfQE2AiQDCAsGAAQgBYZCBy4biAbIDiVVHcGAQEMAQDw8Hav3Z2Z3r6IAkyN17ZrkLAUO9QST8v/fz13whKelB56+KG5pounp5m/n7w0tTTwUShLtQ0+H+b8mX3kBJ/khVSyKdp8WEV6hGw4nWBils/EJ7Q1wbwh7iLddrNNdfkagyYZ5zbvru1HousWqAiGtYDXIm+M2n8XQqcYUhRcbhGrL0XiJexXSYPoHnuP3xzc7ekBSyaDt4HyNweJbYE2ZAuphnCCcriBjBSjESWtuT4tQqBZNuVZT4FjNwVv8/4cRcdSgUP46aGwBI1x6JtlXHrUxgZJu9gMbk9pJven4N/aN+Hf0C/+K/+A/iV83Ujg00JRrStsJ00l4qeYPK2MmYm7KbeS0nTSduJtq/rTSZjLmpLz00UnYFJ28Ut7ycDB2N/tb7579amj+B2uvf/Q2lmiAhl06ASWT9wH0aP9GBV8SrCh5+idlEpowyT8AHd6nLofJ+wA1k7mRU88Ehwq2RVc0u6arJtXpJssuTjfr9gRZlEZh2xejk7boo7PtGIEKJuiKvrgzqm3YPd3kLMHNzeZSPI+pa1iUGsxmjkMJI9j8YgbmNnNd7NOpMM/WSzig9Nb5aXEe1PKygkzNoLmxwSs8wIozRA5RbS9rKSWQCGQZrcuK4qWSRNVAFjhVWk6p6rSui7aXaVSWIQ+jXAYLRRkYG+NwUARDekU7Z8B4z20uF+ajpoRxWXUltuhgqQFP/q3juEBNnlSBmDTGktCGVVmWjykc20YcQmr2ZPkjiiIgQkAqQ9a3F4lGCQ1pWdX2fQUcpWhyEzJV03RxnKBGNXSRcDMQ0MSfQuzOyhWVFQAAAA==") format("woff2")
}

i[class^="iac502cc0d3d44cbdbacc00ae3d55a7c9-"]:before, i[class*=" iac502cc0d3d44cbdbacc00ae3d55a7c9-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: iac502cc0d3d44cbdbacc00ae3d55a7c9 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iac502cc0d3d44cbdbacc00ae3d55a7c9-icon:before {
  content: "\f101";
}
