
@font-face {
  font-family: "i02eb752853034a75a041867a84edb7f9";
  src: url("data:font/woff2;base64,d09GMgABAAAAAALkAAsAAAAAB5wAAAKYAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGVgCCcAqBRIE4ATYCJAMICwYABCAFhkIHLhvDBhEVlCNkXyXwVCSj/7Vaw4wK69D7YRmRypkgnp8r533I5RhJEbcK5dUSZVtWgMISeTaqrLfC++M/AM4bxca9CIku6MfcRBurc8uVqlAncm7QAfWAE9fkL8ICwIp1alIltadZVNp4QrvxcEADoQ1jF7iEexAgiAraUD19IzOE7a8cOUwSBqtVII2V/Z2tFVxuwLTECy6CU7OoRC5ggXpagZDw5UUY4kBhNVbCxGbvOh2/xc5jAQhgcc3+ABbQQMl+TDJT6xhDo0AJmiAtYMiCfcUK/Ba/z+z2jwcC4mBFhwCQApl7Yl3uVqMVACYO9QB9GDHtVGHyvBcn3qmYmEDneYk/3ncyLi7vvRJ79aqTdC9YTsf74qWmU7YXlHPqysHV4PgEn4TWeK6kxODTPkn2zYz7RISNrK2YqTyxrZmJBOs8i7JZD3uX6u9uPr7lYueqogRuGhUWoTp1lM1UB78iTJblp6uylLgWR05wNALug7O3l8Jb/rvBLAD8eG0ox9Ki7QL3fE6BPnks+C/+OB6rVQuDXIqekk0BpLgbv+WK4P3YZiHzJl0BZKaSjlUFEDDIIGoJZhd1yOQoGkQx3uJgonmFRkwgQhefAaoIkzhU0yU5gEE2UUucPJScOuQ5GsSc4rcLJk/NwVxNW0xKRRlYbFKrBUvKNstWYvKlo7kjP/oU1vhuA4/TUQYM0O8ZDTMe/EIF84f3mPZfGvygBJXyhTES3IM8yqs817WtMTp+QLkoMVfTFpNSUQYWK3e2WrCkDMJn2ar35/alo7kjP+Yq8ejveuBxOsqAAeYEmiLP6+BXLQkvmz+8x7T/0uAHJaio69M9pWhLpClufS+P8irPCN+2RlzN+zrKNUsNBZZWCU7VmB1JmTE=") format("woff2")
}

i[class^="i02eb752853034a75a041867a84edb7f9-"]:before, i[class*=" i02eb752853034a75a041867a84edb7f9-"]:before {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  font-family: i02eb752853034a75a041867a84edb7f9 !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i02eb752853034a75a041867a84edb7f9-icon:before {
  content: "\f101";
}
