.zd-chat-text-composer {
  display: table;
  margin: .4em 0em;
}

.zd-chat-text-composer input {
  padding: 1em;
  font-weight: bold;
  width: 100%;
}

.zd-chat-text-composer input,
.zd-chat-text-composer button {
  height: 3em !important;
}

.zd-chat-text-composer .row {
  display: table-row;
}

.zd-chat-text-composer .cell {
  display: table-cell;
}

.zd-chat-text-composer .cell button {
  width: 100%;
}