@import 'core/core.styles.scss';

.avatar-with-online-indicator {
  position: relative;

  .online-indicator {
    position: absolute;
    right: 4px;
    bottom: 0px;
    border: 1px #ccc solid;
    
    &.online {
      background-color: $startGreen;
    }

    &.offline {
      background-color: $stopRed;
    }
  }
}