.Window {
  min-width: 500px;
  min-height: 400px;
  background-color: rgba(0,0,0,.6);
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.WindowHeader .column {
  float: left;
}

.WindowHeader {
  background-color: rgba(0,0,0,.6);
  height: 20px;
  overflow: hidden;
}

/* Three dots */
.WindowHeader .Dot {
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;;
  margin: 3px;

  padding: 0px;
  border: 0px transparent solid;
}

.Window.Active .WindowHeader .Dot.Red {
  background-color: #ED594A !important;
}

.Window.Active .WindowHeader .Dot.Yellow {
  background-color: #FDD800 !important;
}

.Window.Active .WindowHeader .Dot.Green {
  background-color: #5AC05A !important;
}

.WindowBody {
  overflow: auto;
  height: 100%;
  text-align: center;
}