.zd-desktop-dock {
  position: absolute;
  bottom: 0px;
  height: 52px;
  text-align: center;
  margin: 0px auto;

  /* Enables clicking beside the Dock being passed to container */
  left: 50%;
  transform: translateX(-50%);

  /* Enables horizontal scroll when overflowed */
  max-width: 100%;

  z-index: 9999;
}

.zd-desktop-dock .zd-desktop-dock-items {
  padding: 4px;
  display: inline-block;
  background-color: rgba(255,255,255,.4);
  border: 1px rgba(255,255,255,.42) solid;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  min-width: 25px;
  max-width: 90%;
  height: 100%;
  max-width: 100%;
/*position: relative;*/
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.zd-desktop-dock .zd-desktop-dock-items .zd-desktop-dock-item {
  /*border-bottom: 5px blue solid*/
  margin: -4px 5px;
  display: inline-block;
  border: 1px transparent solid;
  border-radius: 20%;
  padding: 4px;
}

.zd-desktop-dock .zd-desktop-dock-items .zd-desktop-dock-item.open {
  background-color: #fff;
}

.zd-desktop-dock .zd-desktop-dock-items .zd-desktop-dock-item-icon {
  width: 40px;
  height: 40px;
  padding: 0px 2px;
}

.zd-desktop-dock .zd-desktop-dock-items .zd-desktop-dock-item:hover {
  border: 1px #ccc dashed;
}

.zd-desktop-dock .zd-desktop-dock-items button {
  background-color: transparent;
  border: 0px;
}

.zd-context-menu-overlay {
  position: absolute;
  bottom:60px;
  width:200px;
  left:-70px;
  border-radius: 10px;
  overflow: hidden;
}

.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 1px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 31px;
	margin-left: -31px;
}