.zd-desktop-dock {
  position: absolute;
  bottom: 0px;
  height: 52px;
  text-align: center;
  margin: 0px auto;

  /* Enables clicking beside the Dock being passed to container */
  left: 50%;
  transform: translateX(-50%);

  z-index: 9999;
}

.zd-desktop-dock .zd-desktop-dock-items {
  padding: 4px;
  display: inline-block;
  background-color: rgba(255,255,255,.4);
  border: 1px rgba(255,255,255,.42) solid;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  min-width: 25px;
  max-width: 90%;
  height: 100%;
  max-width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.zd-desktop-dock .zd-desktop-dock-items .zd-desktop-dock-item {
  /*border-bottom: 5px blue solid*/
  margin: -4px 5px;
  display: inline-block;
  border: 1px transparent solid;
  border-radius: 20%;
  padding: 4px;
}

.zd-desktop-dock .zd-desktop-dock-items .zd-desktop-dock-item:hover {
  border: 1px #ccc dashed;
}

.zd-desktop-dock .zd-desktop-dock-items button {
  background-color: transparent;
  border: 0px;
}