.zd-resizable {
  display: table;
}

.zd-resizable .ResizableBody {
  width: 100%;
  height: 100%;
}

.zd-resizable .zd-resizable-table-row {
  display: table-row;
}

.zd-resizable .zd-resizable-table-cell {
  display: table-cell;
  position: relative;
}

.zd-resizable .zd-resizable-control {
  border: 3px transparent solid;
}

.zd-resizable .zd-resizable-control.top {
  cursor: n-resize;
}

.zd-resizable .zd-resizable-control.top-right {
  cursor: ne-resize;
}

.zd-resizable .zd-resizable-control.right {
  cursor: e-resize;
}

.zd-resizable .zd-resizable-control.bottom-right {
  cursor: se-resize;
}

.zd-resizable .zd-resizable-control.bottom {
  cursor: s-resize;
}

.zd-resizable .zd-resizable-control.bottom-left {
  cursor: sw-resize;
}

.zd-resizable .zd-resizable-control.left {
  cursor: w-resize;
}

.zd-resizable .zd-resizable-control.top-left {
  cursor: nw-resize;
}