.gridComponent .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.gridComponent .flex .itemsWrapper .item {
  display: inline-block;
  text-align: center;
}