$bodyBgColor: #282c34;
$bodyTextColor: #999999;

$imageFadeInTransitionTime: 1s;

$activeHighlightBgColor: #3482F5;
$activeHighlightTextColor: #ffffff;

$overlayBgColor: rgba(0,0,0,.7);

$inputBgColor: #515151;
$inputTextColor: #ffffff;
$inputBorderColor:  #cccccc;
$inputHighlightBgColor: $activeHighlightBgColor;

$inputBgColorHover: #333333;
$inputTextColorHover: $inputTextColor;

$inputTextColorDisabled: #999999;
$inputBgColorDisabled: transparent;
$inputBorderColorDisabled: $inputTextColorDisabled;