$bodyBgColor: #282c34;
$bodyTextColor: #ffffff;

$windowTextColor: #e2e2e2;

$imageFadeInTransitionTime: 1s;

$activeHighlightBgColor: #3482F5;
$activeHighlightTextColor: #ffffff;

$overlayBgColor: rgba(0,0,0,.7);

$inputBgColor: #515151;
$inputTextColor: #eaeaea;
$inputBorderColor:  #cccccc;
$inputHighlightBgColor: $activeHighlightBgColor;

$inputPlaceholderColor: #c5c5c5;
$inputPlaceholderFontStyle: italic;

$inputBgColorHover: #333333;
$inputTextColorHover: $inputTextColor;

$inputTextColorDisabled: #999999;
$inputBgColorDisabled: transparent;
$inputBorderColorDisabled: $inputTextColorDisabled;