body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #282c34 !important;
  color: #fff;

  overflow: hidden;
}

.blurred {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

/*
body.blur,
body:not(.blur) {
  transition: filter .4s;
}
*/

/*
body.blur {
  filter: grayscale(100%);
}
*/

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

h1,h2,h3,h4,h5,h6 {
  color: #fff;
  padding: 8px;
  margin: 8px;
}

html {
  scroll-behavior: smooth;

  /*
    .noselect 
    @see https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
  */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

*:not(input[type="radio"]) {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

* {
  box-sizing: border-box !important;
}

button,
input,
textarea {
  background-color: #000;
  border: 1px rgba(255,255,255,.4) solid;
}

select {
  background-color: #000;
  color: #fff;
}

/*
input,
button {
  background-color: #545864;
  color: #fff;
  border: 1px #ccc solid;

  padding: 0rem .4rem;
  font-size: .8rem;
}

button {
  font-size: .8rem !important;
  border: 1px #ccc solid !important;
  padding: .2rem .4rem !important;
}

button[role="menuitem"] {
  padding: .4rem;
}

input:hover,
button:hover {
  color: #fff;
}
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  width: 100%;
  height: 100%;
}

.zd-desktop {
  text-align: center;
  background-color: transparent;
  color: white;

  filter: blur(20) grayscale(80%);
}

.zd-desktop:not(.focused) {
  filter: blur(20) grayscale(80%);
}

/*
.zd-desktop-logo {
  animation: Desktop-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
*/

/*
@keyframes .zd-desktop-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.zd-desktop-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

/*
.Desktop-link {
  color: #61dafb;
}
*/

.label {
  font-weight: bold;
}
