div[role="combobox"],
li[role="option"],
.ant-select-dropdown-menu-item {
  font-size: .8rem;
  color: #fff;
  background-color: transparent;
}

.ant-select-dropdown-menu-item {
  text-align: left;
  background-color: rgba(0,0,0,.8) !important;
}

.ant-select-dropdown-menu-item:hover {
  background-color: rgba(255,255,255,.1) !important;
  color: #000;
}

.ant-tree-switcher,
.ant-tree-title {
  color: #fff;
}
.ant-tree-treenode-selected .ant-tree-title {
  color: #000;
}

button.ant-btn,
input.ant-input {
  background-color: #68696B;
  color: #fff;
  border: 1px #999999 solid;
}

button.ant-btn:disabled {
  color: rgba(255,255,255,.6);
  background-color: transparent;
}

button.ant-btn:hover {
  background-color: #3482F5;
  color: #fff;
}