.DesktopPanel {
  position: relative;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 22px;
  top: 0px;
}

.DesktopPanel.Horizontal .DesktopPanelColumnLeft {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
}

.DesktopPanel.Horizontal .DesktopPanelColumnLeft .ApplicationTitle {
  font-weight: bold;
}

.DesktopPanel.Horizontal .DesktopPanelColumnCenter {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.DesktopPanel.Horizontal .DesktopPanelColumnRight {
  float: right;
  margin-left: 10px;
  margin-top: 2px;
}