.zd-splitter-layout .layout-splitter {
  background-color: transparent;
  border: 1px rgba(255,255,255,.2) solid;
}

.zd-splitter-layout .layout-splitter:hover {
  background-color: transparent;
  border: 1px rgba(255,255,255,.4) solid;
}

.zd-splitter-layout  > .layout-splitter {
  width: 2px;
}

.zd-splitter-layout.splitter-layout-vertical > .layout-splitter {
  height: 2px;
}